/**
 * @name MacOs
 * @version 1.0
 * @author Joh.Fgs
 * @authorId 1121950529925423154
 * @description macOS with topbar.
 * @source https://raw.githubusercontent.com/JohFgs/MacTitlebar/main/Mac%20Titlebar%20for%20Discord%20Windows.css
 * @website https://github.com/JohFgs
*/

@import url(https://raw.githubusercontent.com/JohFgs/macOs/refs/heads/main/macOsUpdated.css);

:root {
  --window-margin: 30
}

.theme-dark,
.theme-light {
  --window-margin-px: calc(var(--window-margin) * 1px);
}

#app-mount:not(:-webkit-full-screen) .layers_d4b6c5.layers_a01fb1 {
  margin-top: var(--window-margin-px);
}

.platform-win .typeWindows_a934d8::before {
  content: "";
  top: 0;
  left: 0;
  position: fixed;
  height: calc(var(--window-margin) * 1px);
  width: 100%;
  -webkit-app-region: drag;
}
